# Avoid accidental upload of the Sketch and Figma design files
#####################################################
## Please do not remove lines 5 and 6 - thanks! 🙂 ##
#####################################################
*.sketch
*.fig

# Avoid accidental XD upload if you convert the design file
###############################################
## Please do not remove line 12 - thanks! 🙂 ##
###############################################
*.xd

# Avoid your project being littered with annoying .DS_Store files!
.DS_Store
.prettierignore

# Avoid node modules
node_modules/

# Avoid design pages as they are for reference only
design/

# Avoid package.json and tailwind config as they are only for dev purposes
package.json
package-lock.json
tailwind.config.js
